<div class="new-outter-wrapper">
  <div class="new-background"></div>
  <div class="new-inner-wrapper">
    <div class="new-songs">
      <h2 class="text-align-left">New Songs&nbsp;<span class="glyphicon glyphicon-equalizer"></span></h2><hr>
    </div>

    <div class="new-songs-list">
      <% @songs_new.each_with_index do |song,index| %>
      <div class="new-songs-tile">
        <div class="tile-images">
          <a href="#new<%= index %>" data-transition="slide" type="button" class="toggle-song text-align-left" dataId="new<%= index %>" style="padding:0;">
            <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => song.file)%>
          </a>
        </div>

        <div class="tile-info">
          <span id="info-line-1"><%= song.to_h[:title] || song.file %></span><br>
          <span id="info-line-2"><%= song.to_h[:artist] %></span>
        </div>
      </div>
      <% end %>
    </div>

    <div class="discover">
      <h2 class="text-align-left">Discover&nbsp;<span class="glyphicon glyphicon-headphones"></span></h2><hr>
    </div>

    <div class="new-songs-list">
        <% @songs_by_en.each_with_index do |song,index| %>
        <div class="new-songs-tile">
          <div class="tile-images">
            <a href="#discover<%= index %>" data-transition="slide" type="button" class="toggle-song text-align-left" dataId="discover<%= index %>" style="padding:0;">
              <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => song.file)%>
            </a>
          </div>

          <div class="tile-info">
            <span id="info-line-1"><%= song.to_h[:title] || song.file %></span><br>
            <span id="info-line-2"><%= song.to_h[:artist] %></span>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>
