<div id="now-playing-div-1" class="col-xs-12 navbar-fixed-bottom now-playing-top">
  <!-- below code displays default background image when the playlist is empty -->
  <% unless MPDClient.current_song.nil? %>
    <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => MPDClient.current_song[:file]), :id => "now-playing-background"%>
  <% else %>
    <%= image_tag("main_04.jpg", :id => "now-playing-background") %>
  <% end %>
</div>

<div id="now-playing-div-2" class="col-xs-12 navbar-fixed-bottom now-playing-top">
  <div class="display">
    <div class="song-info">
      <% unless MPDClient.current_song.nil? %>
        <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => MPDClient.current_song[:file]), size: '60x60' %>
      <% else %>
        <%= image_tag("main_04.jpg", :id => "now-playing-artwork") %>
      <% end %>
    </div>

    <div id="info_screen_non_fixed">
      <div class="sml_margin">
        <h4 id="screen_title">
          <% unless MPDClient.current_song.nil? %>
            <p id="title"><%= MPDClient.current_song[:title]%></p>
            <p id="artist"><%= MPDClient.current_song[:artist]%></p>
            <p id="album"><%= MPDClient.current_song[:album]%></p>
          <% else %>
            <p id="title">Nothing is playing?</p>
            <p id="artist">You can add songs</p>
            <p id="album">to the playlist!</p>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>
