<div class="col-xs-12 navbar-fixed-bottom now-playing-bottom">
  <!-- below code displays default background image when the playlist is empty -->
  <% unless @current_song.nil? %>
    <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => @current_song.try(:file)), :id => "now-playing-background"%>
  <% else %>
    <%= image_tag("main_04.jpg", :id => "now-playing-background") %>
  <% end %>
</div>

<div class="col-xs-12 navbar-fixed-bottom now-playing-top">
  <div class="display">
    <div class="song-info">
      <% unless @current_song.nil? %>
        <%= image_tag url_for(:controller => 'juke', :action => 'mp3_image', :file => @current_song.try(:file)), size: '60x60' if @current_song.try(:file)%>
      <% else %>
        <%= image_tag("main_04.jpg", :id => "now-playing-artwork") %>
      <% end %>
    </div>

    <div id="info_screen_non_fixed">
      <div class="sml_margin">
        <h4 id="screen_title">
            <% unless @current_song.nil? %>
              <p id="title"><%= MPD_INSTANCE.current_song.to_h[:title]%></p>
              <p id="artist"><%= MPD_INSTANCE.current_song.to_h[:artist]%></p>
              <p id="album"><%= MPD_INSTANCE.current_song.to_h[:album]%></p>
            <% else %>
              <p id="title">Nothing is playing?☹️</p>
              <p id="artist">You can add songs</p>
              <p id="album">to the playlist! 🎶</p>
            <% end %>
        </h4>
      </div>
    </div>
  </div>
</div>
