<div style="line-height:1.5; width:100%;text-align:right;z-index:100;position:absolute;padding-right:5px;">
  <a href="/juke/list?bypass=bss" style="text-decoration:none;"onclick="return popup(this, 'Music Library');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>

<div id="current_time" class="medium-font"></div>

<div id="header" class="dark">
  <div class="index-outer-box">
    <div class="index-box-left">
      <div id="artwork">
        <%= render partial: 'artwork' %>
      </div>
    </div>

    <div class="index-box-middle background-image">
      <div class="index-box-middle-wrapper">
        <div id="song_info">
          <%= render partial: 'song_info' %>
        </div>

        <div class="heavy-font">
          <ul id='juke_control' class="nav masthead-nav">
            <li id="play_button_container">
              <%= render partial: 'play_button' %>
            </li>
            <li>
              <span data_url="/juke/next" class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </li>
            <li>
              <span data_url="/juke/stop" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
            </li>
            <li>
              <span data_url="/juke/clear" class="glyphicon glyphicon-eject" aria-hidden="true"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="index-box-right background-image">
      <div class="index-box-right-wrapper text-align-left">
        <span>Up Coming Songs...</span>
        <div class="coming_up" id="coming_up">
          <%= render partial: 'coming_up' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Carousel slides -->
<div id="carousel-comments" class="medium-font carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-comments" data-slide-to="0" class="active"></li>

    <% @comments.count.times do |x|  %>
      <li data-target="#carousel-comments" data-slide-to="<%= x+1 %>"></li>
    <% end%>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      Your Comment Here !!
    </div>

    <% @comments.each do |c| %>
    <div class="item ac">
      <%= c.body %> - <%= c.commenter %>
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function popup(mylink, windowname) {
    if (! window.focus)return true;
    var href;
    if (typeof(mylink) == 'string') href=mylink;
    else href=mylink.href;
    window.open(href, windowname, 'width=400,height=700');
    return false;
  }

  function checkTime(i) {
    return (i < 10) ? "0" + i : i;
  }

  function startTime() {
    var today = new Date();
    var h = today.getHours() % 12;
    if (h == 0 && h > 12) {
      h = '00'
    } else if (h == 0) {
      h = '12'
    }
    var m = checkTime(today.getMinutes());
    var s = checkTime(today.getSeconds());
    $('#current_time').html(h + ":" + m + ":" + s);
  }

  setInterval(function() {
    startTime();
  }, 1000);

  setInterval(function() {
    //$('#title').load('/juke/title');
    $('#artwork').load('/juke/artwork');
    $('#song_info').load('/juke/song_info');
    $('#coming_up').load('/juke/coming_up');
    $('li#play_button_container').load('/juke/play_button');
  }, 3000);

  $('body').keyup(function(e){
    if(e.keyCode == 32){
      // user has pressed spacebar
      $.getJSON('/juke/pause_or_play', function() {
        $('li#play_button_container').load('/juke/play_button');
      });
    }
  });
  startTime();
</script>
