<section class="vbox">
  <header class="header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-black  nav-xs">
      <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
        <i class="icon-list"></i>
      </a>
      <a href="#" class="navbar-brand text-lt" title="Responsive Music Wordpress Theme">
        <i class="icon-earphones" aria-hidden="true"></i>
        <span class="hidden-nav-xs m-l-sm">Juke</span>
      </a>
      <a class="btn btn-link visible-xs" data-toggle="collapse" data-target="#menu">
        <i class="icon-magnifier"></i>
      </a>
    </div>
    <div id="menu" class="collapse navbar-collapse bg-white ">
      <ul class="nav navbar-nav hidden-xs">
        <li>
          <a href="#nav,.navbar-header" data-toggle="class:nav-xs,nav-xs" class="text-muted">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
      <form class="navbar-form navbar-left m-t m-l-n-xs" role="search" method="get" action="#">
        <div class="form-group dropdown" id="ajax-search">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-sm bg-white btn-icon rounded"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" value="" autocomplete="off" class="form-control input-sm no-border rounded" name="s" placeholder="Search...">
          </div>
          <a id="ajax-search-toggle" data-target="#ajax-search" data-toggle="dropdown"></a>
          <div class="dropdown-menu bg-white">
            <div id="ajax-search-loading" class="wrapper text-center"><i class="fa fa-spin icon-refresh"></i></div>
            <div id="ajax-search-results" class="list-group">

            </div>
          </div>
        </div>
      </form>
      <div class="navbar-right">
        <ul class="nav navbar-nav">

        </ul>
      </div>
    </div>
  </header>
  <section>
    <section class="hbox stretch">
      <!-- .aside -->
      <aside id="nav" class="hidden-xs bg-black dk aside hidden-print nav-xs">
        <section class="vbox">
          <section class="w-f-md scrollable hover">
            <nav class="nav-primary bg hidden-xs">
              <ul id="menu-discover-music" class="nav">
                <li class='hidden-nav-xs padder m-t m-b-sm text-xs text-muted'>Discover music</li>
                <li id="menu-item-432" class="active"><a href="#" class="auto font-bold"><i class="icon icon-music-tone-alt text-success-lter" aria-hidden="true"></i><span>Discover</span></a></li>
                <li id="menu-item-430" ><a href="#" class="auto font-bold"><i class="icon icon-list text-info-lter" aria-hidden="true"></i><span>Genres</span></a></li>
                <li id="menu-item-429" ><a href="#" class="auto font-bold"><i class="icon icon-disc text-success-lt"></i><span>Albums</span></a></li>
                <li id="menu-item-428" ><a href="#" class="auto font-bold"><i class="icon icon-users text-info-lt"></i><span>Artists</span></a></li>
                <li id="menu-item-726" ><a href="#" class="auto font-bold"><i class="icon icon-social-youtube"></i><span>Video</span></a></li>
                <li class="m-b hidden-nav-xs"></li></ul></nav>
          </section>
          <footer class="footer no-padder text-center-nav-xs">
            <div class="bg">
              <div class="dropdown dropup wrapper-sm clearfix">
                <a href="#" class="btn btn-block m-t-xs m-b-xxs">
                  <i class="icon-user-follow"></i>
                  <span class="hidden-nav-xs m-l">Login</span>
                </a>
              </div>
            </div>
          </footer>
          </section>
      </aside>
      <!-- /.aside -->
      <section id="content">
        <a href="javascript:;" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
        <section class="vbox">
          <section class="w-f-md" id="ajax-container">
            <section class="hbox stretch">
              <section>
                <section class="vbox">
                  <section class="scrollable wrapper-lg">
                    <div id="music_post_widget-1" class="widget-1 widget-odd widget_music_post_widget widget"><h2 class="font-thin m-b m-t-none">What&#8217;s New</h2><div class="row row-sm">          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-217" class="item post-217 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-miaow odd edd-download edd-download-cat-acoustic">
                      <div class="pos-rlt">

                        <div class="item-overlay opacity r bg-black">
                          <div class="center text-center m-t-n">
                            <a href="javascript:;" data-id="217" class="play-me">
                              <i class="icon-control-play i-2x text"></i>
                              <i class="icon-control-pause i-2x text-active"></i>
                            </a>
                          </div>
                        </div>





                                        <a href="" data-pjax title="Cro Magnon Man">
                                          <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                        </div>

                                        <div class="m-t-sm m-b-lg">
                                          <div class="item-desc">
                                            <a href="" data-pjax title="Cro Magnon Man" class="text-ellipsis">Cro Magnon Man</a>
                                            <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">The Stark Palace</a></div>      </div>
                                          </div>
                                        </article>
                                      </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-18" class="item post-18 download type-download status-publish has-post-thumbnail hentry download_category-reggae download_category-rnb download_category-rock download_category-soul download_tag-dance download_artist-miaow even edd-download edd-download-cat-reggae edd-download-cat-rnb edd-download-cat-rock edd-download-cat-soul edd-download-tag-dance">
                                        <div class="pos-rlt">

                                          <div class="item-overlay opacity r bg-black">
                                            <div class="center text-center m-t-n">
                                              <a href="javascript:;" data-id="18" class="play-me">
                                                <i class="icon-control-play i-2x text"></i>
                                                <i class="icon-control-pause i-2x text-active"></i>
                                              </a>
                                            </div>
                                          </div>


                                            <a href="" data-pjax title="Tempered song">
                                              <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                            </div>

                                            <div class="m-t-sm m-b-lg">
                                              <div class="item-desc">
                                                <a href="" data-pjax title="Tempered song" class="text-ellipsis">Tempered song</a>
                                                <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                              </div>
                                            </article>
                                          </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-1425" class="item post-1425 download type-download status-publish has-post-thumbnail hentry download_category-folk download_tag-radio odd edd-download edd-download-cat-folk edd-download-tag-radio">
                                            <div class="pos-rlt">

                                              <div class="item-overlay opacity r bg-black">
                                                <div class="center text-center m-t-n">
                                                  <a href="javascript:;" data-id="1425" class="play-me">
                                                    <i class="icon-control-play i-2x text"></i>
                                                    <i class="icon-control-pause i-2x text-active"></i>
                                                  </a>
                                                </div>
                                              </div>


                                                <a href="" data-pjax title="SHOUTcast">
                                                <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                </div>

                                                <div class="m-t-sm m-b-lg">
                                                  <div class="item-desc">
                                                    <a href="" data-pjax title="SHOUTcast" class="text-ellipsis">SHOUTcast</a>
                                                  </div>
                                                </div>
                                              </article>
                                            </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-179" class="item post-179 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_category-hip-hop download_category-indie download_category-jazz download_category-latin download_tag-dance download_artist-miaow even edd-download edd-download-cat-acoustic edd-download-cat-hip-hop edd-download-cat-indie edd-download-cat-jazz edd-download-cat-latin edd-download-tag-dance">
                                              <div class="pos-rlt">

                                                <div class="item-overlay opacity r bg-black">
                                                  <div class="center text-center m-t-n">
                                                    <a href="javascript:;" data-id="179" class="play-me">
                                                      <i class="icon-control-play i-2x text"></i>
                                                      <i class="icon-control-pause i-2x text-active"></i>
                                                    </a>
                                                  </div>
                                                </div>


                                                  <a href="" data-pjax title="Lentement">
                                                  <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                  </div>

                                                  <div class="m-t-sm m-b-lg">
                                                    <div class="item-desc">
                                                      <a href="" data-pjax title="Lentement" class="text-ellipsis">Lentement</a>
                                                      <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                                    </div>
                                                  </article>
                                                </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-593" class="item post-593 download type-download status-publish has-post-thumbnail hentry download_category-jazz download_tag-station odd edd-download edd-download-cat-jazz edd-download-tag-station">
                                                  <div class="pos-rlt">

                                                    <div class="item-overlay opacity r bg-black">
                                                      <div class="center text-center m-t-n">
                                                        <a href="javascript:;" data-id="593" class="play-me">
                                                          <i class="icon-control-play i-2x text"></i>
                                                          <i class="icon-control-pause i-2x text-active"></i>
                                                        </a>
                                                      </div>
                                                    </div>


                                                    <a href="" data-pjax title="Radio Station">
                                                    <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                    </div>

                                                    <div class="m-t-sm m-b-lg">
                                                      <div class="item-desc">
                                                        <a href="" data-pjax title="Radio Station" class="text-ellipsis">Radio Station</a>
                                                      </div>
                                                    </div>
                                                  </article>
                                                </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-226" class="item post-226 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-miaow even edd-download edd-download-cat-acoustic">
                                                  <div class="pos-rlt">

                                                    <div class="item-overlay opacity r bg-black">
                                                      <div class="center text-center m-t-n">
                                                        <a href="javascript:;" data-id="226" class="play-me">
                                                          <i class="icon-control-play i-2x text"></i>
                                                          <i class="icon-control-pause i-2x text-active"></i>
                                                        </a>
                                                      </div>
                                                    </div>


                                                      <a href="" data-pjax title="Stirring of a fool">
                                                      <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                      </div>

                                                      <div class="m-t-sm m-b-lg">
                                                        <div class="item-desc">
                                                          <a href="" data-pjax title="Stirring of a fool" class="text-ellipsis">Stirring of a fool</a>
                                                          <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                                        </div>
                                                      </article>
                                                    </div>

                                                  </div></div>


                                                            <div id="music_post_widget-2" class="widget-3 widget-odd widget_music_post_widget widget"><h2 class="font-thin m-b m-t-none">New Albums</h2><div class="row row-sm">          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-417" class="item post-417 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-bossr odd edd-download edd-download-cat-acoustic">
                                                              <div class="pos-rlt">

                                                                <div class="item-overlay opacity r bg-black">
                                                                  <div class="center text-center m-t-n">
                                                                    <a href="javascript:;" data-id="417" class="play-me">
                                                                      <i class="icon-control-play i-2x text"></i>
                                                                      <i class="icon-control-pause i-2x text-active"></i>
                                                                    </a>
                                                                  </div>
                                                                </div>


                                                                <a href="" data-pjax title="Top Board &#8211; June">
                                                                <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a></a>
                                                                </div>

                                                                <div class="m-t-sm m-b-lg">
                                                                  <div class="item-desc">
                                                                    <a href=" " data-pjax title="Top Board &#8211; June" class="text-ellipsis">Top Board &#8211; June</a>
                                                                    <div class="text-muted text-xs text-ellipsis">by <a href=" " rel="tag">Bossr</a></div>      </div>
                                                                  </div>
                                                                </article>
                                                              </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-415" class="item post-415 download type-download status-publish has-post-thumbnail hentry download_category-country download_artist-miaow even edd-download edd-download-cat-country">
                                                                <div class="pos-rlt">

                                                                  <div class="item-overlay opacity r bg-black">
                                                                    <div class="center text-center m-t-n">
                                                                      <a href="javascript:;" data-id="415" class="play-me">
                                                                        <i class="icon-control-play i-2x text"></i>
                                                                        <i class="icon-control-pause i-2x text-active"></i>
                                                                      </a>
                                                                    </div>
                                                                  </div>


                                                                    <a href=" " data-pjax title="New Album">
                                                                      <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %></a>
                                                                    </div>

                                                                    <div class="m-t-sm m-b-lg">
                                                                      <div class="item-desc">
                                                                        <a href="" data-pjax title="New Album" class="text-ellipsis">New Album</a>
                                                                        <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                                                      </div>
                                                                    </article>
                                                                  </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-413" class="item post-413 download type-download status-publish has-post-thumbnail hentry download_category-hardcore download_artist-the-stark-palace odd edd-download edd-download-cat-hardcore">
                                                                    <div class="pos-rlt">

                                                                      <div class="item-overlay opacity r bg-black">
                                                                        <div class="center text-center m-t-n">
                                                                          <a href="javascript:;" data-id="413" class="play-me">
                                                                            <i class="icon-control-play i-2x text"></i>
                                                                            <i class="icon-control-pause i-2x text-active"></i>
                                                                          </a>
                                                                        </div>
                                                                      </div>


                                                                        <a href="" data-pjax title="Bundle">
                                                                        <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                                        </div>

                                                                        <div class="m-t-sm m-b-lg">
                                                                          <div class="item-desc">
                                                                            <a href=" " data-pjax title="Bundle" class="text-ellipsis">Bundle</a>
                                                                            <div class="text-muted text-xs text-ellipsis">by <a href=" " rel="tag">The Stark Palace</a></div>      </div>
                                                                          </div>
                                                                        </article>
                                                                      </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-411" class="item post-411 download type-download status-publish has-post-thumbnail hentry download_category-blues download_artist-miaow even edd-download edd-download-cat-blues">
                                                                        <div class="pos-rlt">

                                                                          <div class="item-overlay opacity r bg-black">
                                                                            <div class="center text-center m-t-n">
                                                                              <a href="javascript:;" data-id="411" class="play-me">
                                                                                <i class="icon-control-play i-2x text"></i>
                                                                                <i class="icon-control-pause i-2x text-active"></i>
                                                                              </a>
                                                                            </div>
                                                                          </div>


                                                                            <a href=" " data-pjax title="Free Album">
                                                                              <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                                            </div>

                                                                            <div class="m-t-sm m-b-lg">
                                                                              <div class="item-desc">
                                                                                <a href="" data-pjax title="Free Album" class="text-ellipsis">Free Album</a>
                                                                                <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                                                              </div>
                                                                            </article>
                                                                          </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-380" class="item post-380 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_tag-album download_artist-miaow odd edd-download edd-download-cat-acoustic edd-download-tag-album">
                                                                            <div class="pos-rlt">

                                                                              <div class="item-overlay opacity r bg-black">
                                                                                <div class="center text-center m-t-n">
                                                                                  <a href="javascript:;" data-id="380" class="play-me">
                                                                                    <i class="icon-control-play i-2x text"></i>
                                                                                    <i class="icon-control-pause i-2x text-active"></i>
                                                                                  </a>
                                                                                </div>
                                                                              </div>


                                                                                <a href="" data-pjax title="Miaow 2004">
                                                                                <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                                                </div>

                                                                                <div class="m-t-sm m-b-lg">
                                                                                  <div class="item-desc">
                                                                                    <a href="" data-pjax title="Miaow 2004" class="text-ellipsis">Miaow 2004</a>
                                                                                    <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">Miaow</a></div>      </div>
                                                                                  </div>
                                                                                </article>
                                                                              </div>          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">              <article id="post-244" class="item post-244 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_category-ambient download_artist-the-stark-palace even edd-download edd-download-cat-acoustic edd-download-cat-ambient">
                                                                                <div class="pos-rlt">

                                                                                  <div class="item-overlay opacity r bg-black">
                                                                                    <div class="center text-center m-t-n">
                                                                                      <a href="javascript:;" data-id="244" class="play-me">
                                                                                        <i class="icon-control-play i-2x text"></i>
                                                                                        <i class="icon-control-pause i-2x text-active"></i>
                                                                                      </a>
                                                                                    </div>
                                                                                  </div>


                                                                                      <a href="" data-pjax title="TSP Bundle">
                                                                                        <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                                                      </div>

                                                                                      <div class="m-t-sm m-b-lg">
                                                                                        <div class="item-desc">
                                                                                          <a href="" data-pjax title="TSP Bundle" class="text-ellipsis">TSP Bundle</a>
                                                                                          <div class="text-muted text-xs text-ellipsis">by <a href="" rel="tag">The Stark Palace</a></div>      </div>
                                                                                        </div>
                                                                                      </article>
                                                                                    </div></div></div>                    <div class="row">
                                                                                      <div class="col-md-4">
                                                                                        <div id="music_post_widget-3" class="widget-1 widget-odd widget_music_post_widget widget"><h2 class="widget-title">Weekly Top Board</h2><div class="sub-title">Popular songs over the wood</div><div class="list-group list-group-lg">          <div class="list-group-item">              <article id="post-1004" class="item hover m-b-none clearfix post-1004 download type-download status-publish has-post-thumbnail hentry download_category-country download_artist-trevorgoodrum odd edd-download edd-download-cat-country">
                                                                                          <div class="pos-rlt pull-left m-r">
                                                                                            <div class="item-overlay opacity r bg-black">
                                                                                              <div class="center text-center m-t-n-sm">
                                                                                                <a href="javascript:;" data-id="1004" class="play-me i-lg">
                                                                                                  <i class="icon-control-play text"></i>
                                                                                                  <i class="icon-control-pause text-active"></i>
                                                                                                </a>
                                                                                              </div>
                                                                                            </div>
                                                                                            <a href="http://flatfull.com/wp/musik/music/country-girl-shake-it-for-me/" data-pjax title="Country girl shake it for me" class="thumb-md">
                                                                                              <%= image_tag("album_cover/2011_markers.jpg", :alt => "2011_markers") %> </a>
                                                                                            </div>

                                                                                            <div class="clear">

                                                                                                <a href="http://flatfull.com/wp/musik/music/country-girl-shake-it-for-me/" data-pjax title="Country girl shake it for me" class="text-ellipsis font-bold">Country girl shake it for me</a>
                                                                                                <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" rel="tag">Trevorgoodrum</a></div>        	</div>
                                                                                              </article>
                                                                                            </div>          <div class="list-group-item">              <article id="post-1425" class="item hover m-b-none clearfix post-1425 download type-download status-publish has-post-thumbnail hentry download_category-folk download_tag-radio even edd-download edd-download-cat-folk edd-download-tag-radio">
                                                                                              <div class="pos-rlt pull-left m-r">
                                                                                                <div class="item-overlay opacity r bg-black">
                                                                                                  <div class="center text-center m-t-n-sm">
                                                                                                    <a href="javascript:;" data-id="1425" class="play-me i-lg">
                                                                                                      <i class="icon-control-play text"></i>
                                                                                                      <i class="icon-control-pause text-active"></i>
                                                                                                    </a>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="thumb-md">
                                                                                                  <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg" class="r img-full wp-post-image" alt="photo-1422022098106-b3a9edc463af" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-150x150.jpeg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1422022098106-b3a9edc463af-350x350.jpeg 350w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                </div>

                                                                                                <div class="clear">

                                                                                                    <a href="http://flatfull.com/wp/musik/music/shoutcast/" data-pjax title="SHOUTcast" class="text-ellipsis font-bold">SHOUTcast</a>
                                                                                                  </div>
                                                                                                </article>
                                                                                              </div>          <div class="list-group-item">              <article id="post-413" class="item hover m-b-none clearfix post-413 download type-download status-publish has-post-thumbnail hentry download_category-hardcore download_artist-the-stark-palace odd edd-download edd-download-cat-hardcore">
                                                                                                <div class="pos-rlt pull-left m-r">
                                                                                                  <div class="item-overlay opacity r bg-black">
                                                                                                    <div class="center text-center m-t-n-sm">
                                                                                                      <a href="javascript:;" data-id="413" class="play-me i-lg">
                                                                                                        <i class="icon-control-play text"></i>
                                                                                                        <i class="icon-control-pause text-active"></i>
                                                                                                      </a>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                  <a href="http://flatfull.com/wp/musik/music/bundle/" data-pjax title="Bundle" class="thumb-md">
                                                                                                    <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m3-150x150.jpg" class="r img-full wp-post-image" alt="m3" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m3-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m3.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                  </div>

                                                                                                  <div class="clear">

                                                                                                      <a href="http://flatfull.com/wp/musik/music/bundle/" data-pjax title="Bundle" class="text-ellipsis font-bold">Bundle</a>
                                                                                                      <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/the-stark-palace/" rel="tag">The Stark Palace</a></div>        	</div>
                                                                                                    </article>
                                                                                                  </div>          <div class="list-group-item">              <article id="post-411" class="item hover m-b-none clearfix post-411 download type-download status-publish has-post-thumbnail hentry download_category-blues download_artist-miaow even edd-download edd-download-cat-blues">
                                                                                                    <div class="pos-rlt pull-left m-r">
                                                                                                      <div class="item-overlay opacity r bg-black">
                                                                                                        <div class="center text-center m-t-n-sm">
                                                                                                          <a href="javascript:;" data-id="411" class="play-me i-lg">
                                                                                                            <i class="icon-control-play text"></i>
                                                                                                            <i class="icon-control-pause text-active"></i>
                                                                                                          </a>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                      <a href="http://flatfull.com/wp/musik/music/free-album/" data-pjax title="Free Album" class="thumb-md">
                                                                                                        <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b6-150x150.jpg" class="r img-full wp-post-image" alt="b6" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b6-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b6.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                      </div>

                                                                                                      <div class="clear">

                                                                                                          <a href="http://flatfull.com/wp/musik/music/free-album/" data-pjax title="Free Album" class="text-ellipsis font-bold">Free Album</a>
                                                                                                          <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/miaow/" rel="tag">Miaow</a></div>        	</div>
                                                                                                        </article>
                                                                                                      </div>          <div class="list-group-item">              <article id="post-2180" class="item hover m-b-none clearfix post-2180 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-trevorgoodrum odd edd-download edd-download-cat-acoustic">
                                                                                                        <div class="pos-rlt pull-left m-r">
                                                                                                          <div class="item-overlay opacity r bg-black">
                                                                                                            <div class="center text-center m-t-n-sm">
                                                                                                              <a href="javascript:;" data-id="2180" class="play-me i-lg">
                                                                                                                <i class="icon-control-play text"></i>
                                                                                                                <i class="icon-control-pause text-active"></i>
                                                                                                              </a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          <a href="http://flatfull.com/wp/musik/music/the-voice-inspiring-emotional-blind-auditions/" data-pjax title="The Voice &#8211; Inspiring &#038; Emotional Blind Auditions" class="thumb-md">
                                                                                                            <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14-150x150.jpg" class="r img-full wp-post-image" alt="b14" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                          </div>

                                                                                                          <div class="clear">

                                                                                                              <a href="http://flatfull.com/wp/musik/music/the-voice-inspiring-emotional-blind-auditions/" data-pjax title="The Voice &#8211; Inspiring &#038; Emotional Blind Auditions" class="text-ellipsis font-bold">The Voice &#8211; Inspiring &#038; Emotional Blind Auditions</a>
                                                                                                              <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" rel="tag">Trevorgoodrum</a></div>        	</div>
                                                                                                            </article>
                                                                                                          </div></div></div>                    	</div>
                                                                                                          <div class="col-md-4">
                                                                                                            <div id="music_term_widget-1" class="widget-1 widget-odd widget_music_term_widget widget"><h3 class="widget-title">Popular Artist</h3><h5 class="sub-title">Find your like</h5><div class="list-group list-group-lg "><div class="list-group-item clearfix">                  <div class="pos-rlt pull-left m-r">
                                                                                                              <a href="http://flatfull.com/wp/musik/artists/miaow/" class="thumb-sm">
                                                                                                                <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m21-150x150.jpg" alt="Miaow" class="img-full rounded"/>
                                                                                                              </a>
                                                                                                            </div>
                                                                                                            <div class="">
                                                                                                              <a href="http://flatfull.com/wp/musik/artists/miaow/" class="m-t-sm m-b-sm text-ellipsis">Miaow</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                                          <div class="list-group-item clearfix">                  <div class="pos-rlt pull-left m-r">
                                                                                                            <a href="http://flatfull.com/wp/musik/artists/the-stark-palace/" class="thumb-sm">
                                                                                                              <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b11-150x150.jpg" alt="The Stark Palace" class="img-full rounded"/>
                                                                                                            </a>
                                                                                                          </div>
                                                                                                          <div class="">
                                                                                                            <a href="http://flatfull.com/wp/musik/artists/the-stark-palace/" class="m-t-sm m-b-sm text-ellipsis">The Stark Palace</a>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                        <div class="list-group-item clearfix">                  <div class="pos-rlt pull-left m-r">
                                                                                                          <a href="http://flatfull.com/wp/musik/artists/bossr/" class="thumb-sm">
                                                                                                            <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m20-150x150.jpg" alt="Bossr" class="img-full rounded"/>
                                                                                                          </a>
                                                                                                        </div>
                                                                                                        <div class="">
                                                                                                          <a href="http://flatfull.com/wp/musik/artists/bossr/" class="m-t-sm m-b-sm text-ellipsis">Bossr</a>
                                                                                                        </div>
                                                                                                      </div>
                                                                                                      <div class="list-group-item clearfix">                  <div class="pos-rlt pull-left m-r">
                                                                                                        <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" class="thumb-sm">
                                                                                                          <img src="http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/images/default_300_300.jpg" alt="Trevorgoodrum" class="img-full rounded"/>
                                                                                                        </a>
                                                                                                      </div>
                                                                                                      <div class="">
                                                                                                        <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" class="m-t-sm m-b-sm text-ellipsis">Trevorgoodrum</a>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <div class="list-group-item clearfix">                  <div class="pos-rlt pull-left m-r">
                                                                                                      <a href="http://flatfull.com/wp/musik/artists/crystal-guerrero/" class="thumb-sm">
                                                                                                        <img src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b0-150x150.jpg" alt="Crystal Guerrero" class="img-full rounded"/>
                                                                                                      </a>
                                                                                                    </div>
                                                                                                    <div class="">
                                                                                                      <a href="http://flatfull.com/wp/musik/artists/crystal-guerrero/" class="m-t-sm m-b-sm text-ellipsis">Crystal Guerrero</a>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div></div>            	</div>
                                                                                              <div class="col-md-4">
                                                                                                <div id="music_post_widget-4" class="widget-1 widget-odd widget_music_post_widget widget"><h3 class="widget-title">New Song</h3><div class="sub-title">This week</div><div class="list-group list-group-lg">          <div class="list-group-item">              <article id="post-2183" class="item hover m-b-none clearfix post-2183 download type-download status-publish has-post-thumbnail hentry download_category-ambient download_tag-youtube download_artist-trevorgoodrum even edd-download edd-download-cat-ambient edd-download-tag-youtube">
                                                                                                  <div class="pos-rlt pull-left m-r">
                                                                                                    <div class="item-overlay opacity r bg-black">
                                                                                                      <div class="center text-center m-t-n-sm">
                                                                                                        <a href="javascript:;" data-id="2183" class="play-me i-lg">
                                                                                                          <i class="icon-control-play text"></i>
                                                                                                          <i class="icon-control-pause text-active"></i>
                                                                                                        </a>
                                                                                                      </div>
                                                                                                    </div>
                                                                                                    <a href="http://flatfull.com/wp/musik/music/youtube/" data-pjax title="Youtube" class="thumb-md">
                                                                                                      <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1413913619092-816734eed3a7-150x150.jpeg" class="r img-full wp-post-image" alt="photo-1413913619092-816734eed3a7" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1413913619092-816734eed3a7-150x150.jpeg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/photo-1413913619092-816734eed3a7-350x350.jpeg 350w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                    </div>

                                                                                                    <div class="clear">

                                                                                                        <a href="http://flatfull.com/wp/musik/music/youtube/" data-pjax title="Youtube" class="text-ellipsis font-bold">Youtube</a>
                                                                                                        <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" rel="tag">Trevorgoodrum</a></div>        	</div>
                                                                                                      </article>
                                                                                                    </div>          <div class="list-group-item">              <article id="post-2180" class="item hover m-b-none clearfix post-2180 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-trevorgoodrum odd edd-download edd-download-cat-acoustic">
                                                                                                      <div class="pos-rlt pull-left m-r">
                                                                                                        <div class="item-overlay opacity r bg-black">
                                                                                                          <div class="center text-center m-t-n-sm">
                                                                                                            <a href="javascript:;" data-id="2180" class="play-me i-lg">
                                                                                                              <i class="icon-control-play text"></i>
                                                                                                              <i class="icon-control-pause text-active"></i>
                                                                                                            </a>
                                                                                                          </div>
                                                                                                        </div>
                                                                                                        <a href="http://flatfull.com/wp/musik/music/the-voice-inspiring-emotional-blind-auditions/" data-pjax title="The Voice &#8211; Inspiring &#038; Emotional Blind Auditions" class="thumb-md">
                                                                                                          <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14-150x150.jpg" class="r img-full wp-post-image" alt="b14" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/b14.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                        </div>

                                                                                                        <div class="clear">

                                                                                                            <a href="http://flatfull.com/wp/musik/music/the-voice-inspiring-emotional-blind-auditions/" data-pjax title="The Voice &#8211; Inspiring &#038; Emotional Blind Auditions" class="text-ellipsis font-bold">The Voice &#8211; Inspiring &#038; Emotional Blind Auditions</a>
                                                                                                            <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/trevorgoodrum/" rel="tag">Trevorgoodrum</a></div>        	</div>
                                                                                                          </article>
                                                                                                        </div></div></div><div id="music_post_widget-5" class="widget-2 widget-even widget-alt widget_music_post_widget widget"><div class="sub-title">Popular Albums</div><div class="list-group list-group-lg">          <div class="list-group-item">              <article id="post-380" class="item hover m-b-none clearfix post-380 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_tag-album download_artist-miaow even edd-download edd-download-cat-acoustic edd-download-tag-album">
                                                                                                          <div class="pos-rlt pull-left m-r">
                                                                                                            <div class="item-overlay opacity r bg-black">
                                                                                                              <div class="center text-center m-t-n-sm">
                                                                                                                <a href="javascript:;" data-id="380" class="play-me i-lg">
                                                                                                                  <i class="icon-control-play text"></i>
                                                                                                                  <i class="icon-control-pause text-active"></i>
                                                                                                                </a>
                                                                                                              </div>
                                                                                                            </div>
                                                                                                            <a href="http://flatfull.com/wp/musik/music/miaow-2004/" data-pjax title="Miaow 2004" class="thumb-md">
                                                                                                              <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m6-150x150.jpg" class="r img-full wp-post-image" alt="m6" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m6-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m6.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                            </div>

                                                                                                            <div class="clear">

                                                                                                                <a href="http://flatfull.com/wp/musik/music/miaow-2004/" data-pjax title="Miaow 2004" class="text-ellipsis font-bold">Miaow 2004</a>
                                                                                                                <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/miaow/" rel="tag">Miaow</a></div>        	</div>
                                                                                                              </article>
                                                                                                            </div>          <div class="list-group-item">              <article id="post-417" class="item hover m-b-none clearfix post-417 download type-download status-publish has-post-thumbnail hentry download_category-acoustic download_artist-bossr odd edd-download edd-download-cat-acoustic">
                                                                                                              <div class="pos-rlt pull-left m-r">
                                                                                                                <div class="item-overlay opacity r bg-black">
                                                                                                                  <div class="center text-center m-t-n-sm">
                                                                                                                    <a href="javascript:;" data-id="417" class="play-me i-lg">
                                                                                                                      <i class="icon-control-play text"></i>
                                                                                                                      <i class="icon-control-pause text-active"></i>
                                                                                                                    </a>
                                                                                                                  </div>
                                                                                                                </div>
                                                                                                                <a href="http://flatfull.com/wp/musik/music/top-board-june/" data-pjax title="Top Board &#8211; June" class="thumb-md">
                                                                                                                  <img width="150" height="150" src="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m13-150x150.jpg" class="r img-full wp-post-image" alt="m13" srcset="http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m13-150x150.jpg 150w, http://flatfull.com/wp/musik/wp-content/uploads/2015/07/m13.jpg 256w" sizes="(max-width: 150px) 100vw, 150px" />	        	    </a>
                                                                                                                </div>

                                                                                                                <div class="clear">
                                                                                                                  <a href="http://flatfull.com/wp/musik/music/top-board-june/" data-pjax title="Top Board &#8211; June" class="text-ellipsis font-bold">Top Board &#8211; June</a>
                                                                                                                  <div class="text-muted text-sm text-ellipsis">by <a href="http://flatfull.com/wp/musik/artists/bossr/" rel="tag">Bossr</a></div>        	</div>
                                                                                                                </article>
                                                                                                              </div></div></div>                        </div>
                                                                                                            </div>
                                                                                                            <div class="row">
                                                                                                              <div class="col-md-6">
                                                                                                              </div>
                                                                                                              <div class="col-md-6">
                                                                                                              </div>
                                                                                                            </div>
                                                                                                          </section>
                                                                                                        </section>
                                                                                                      </section>
                                                        <aside class="aside aside-md bg-light dk">
                                                          <section class="vbox">
                                                            <section class="scrollable wrapper hover" id="home-sidebar">
                                                              <div id="music_term_widget-2" class="widget-1 widget-odd widget_music_term_widget widget">
                                                                <h4 class="widget-title">Now Playing</h4>
                                                                <div class="list-group list-group-lg ">


                                                                  <%= image_tag("album_cover/2011_markers.jpg", {:alt => "2011_markers", :id => "playing_album_cover"}) %> </a>





                                                                    <div class="list-group-item clearfix">



                                                                      <div class="jp-interface contoller" >

                                                                        <div class="jp-conrols">
                                                                          <div class="jp-progress ">
                                                                            <!--<div class="jp-seek-bar lt">
                                                                              <div class="jp-play-bar dk"></div>
                                                                            </div>-->
                                                                            <div class="jp-title text-lt">  </div>
                                                                            <div class="jp-artist text-lt"></div>
                                                                          </div>

                                                                        </div>






                                                                          <div class="jp-controls" id="controller_size" >
                                                                            <div>

                                                                            <a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a>
                                                                            </div>

                                                                          <div>
                                                                            <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                                                                            <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                                                                          </div>
                                                                          <div>
                                                                            <a class="jp-next"><i class="icon-control-forward i-lg"></i></a>
                                                                          </div>
                                                                          <div class="">
                                                                            <a class="jp-stop"><i class="fa fa-stop"></i></a>
                                                                          </div>

                                                                        </div>




                                                                          








                                                                      </div>
                                                                    </div>

                                                                    <div class="pos-rlt pull-left m-r"></div>
                                                                  </div>







                                                                </div>

                                                            </section>
                                                          </section>
                                                        </aside>
                                                                              </section>
                                                                            </section>
                                                                            <footer class="footer nav-bar-fixed-bottom bg-info">
                                                                              <div id="jp_container">
                                                                                <div class="jp-type-single">
                                                                                  <div  id="yt_player"></div>
                                                                                </div>
                                                                                <div class="jp-type-playlist">
                                                                                  <div id="jplayer" class="jp-jplayer hide"></div>
                                                                                  <div class="jp-gui">
                                                                                    <div class="jp-video-play hide">
                                                                                      <a class="jp-video-play-icon">play</a>
                                                                                    </div>
                                                                                    <div class="jp-interface">
                                                                                      <div class="jp-controls">
                                                                                        <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                                                                                        <div>
                                                                                          <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                                                                                          <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                                                                                        </div>
                                                                                        <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                                                                                        <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
                                                                                        <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>
                                                                                        <div class="jp-progress hidden-xs">
                                                                                          <div class="jp-seek-bar lt">
                                                                                            <div class="jp-play-bar dk">
                                                                                            </div>
                                                                                          </div>
                                                                                          <div class="jp-title text-lt">
                                                                                          </div>
                                                                                        </div>
                                                                                        <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                                                                                        <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                                                                                        <div class="hidden-xs hidden-sm">
                                                                                          <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                                                                                          <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a>
                                                                                        </div>
                                                                                        <div class="hidden-xs hidden-sm jp-volume">
                                                                                          <div class="jp-volume-bar dk">
                                                                                            <div class="jp-volume-bar-value lter"></div>
                                                                                          </div>
                                                                                        </div>
                                                                                        <div>
                                                                                          <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a>
                                                                                          <a class="jp-shuffle-off hid" title="shuffle off"><i class="icon-shuffle text-lt"></i></a>
                                                                                        </div>
                                                                                        <div>
                                                                                          <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a>
                                                                                          <a class="jp-repeat-off hid" title="repeat off"><i class="icon-loop text-lt"></i></a>
                                                                                        </div>
                                                                                        <div class="hide">
                                                                                          <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
                                                                                          <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                  <div class="jp-playlist dropup" id="playlist">
                                                                                    <ul class="dropdown-menu aside-xl dker">
                                                                                      <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                                                                                      <li class="list-group-item"></li>
                                                                                    </ul>
                                                                                  </div>
                                                                                  <div class="jp-no-solution hide">
                                                                                    <span>Update Required</span>
                                                                                    To play the media you will need to either update your browser to a recent version or update your Flash plugin.      </div>
                                                                                  </div>
                                                                                </div>
                                                                              </footer>
                                                                            </section>
                                                                          </section>
                                                                        </section>
                                                                      </section>
                                                                    </section>
                                                                    <div class="modal fade" tabindex="-1" role="dialog" id="playlists">
                                                                      <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                          <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="inline m-r-xs m-t-xs">&times;</span></button>
                                                                            <h4 class="modal-title font-bold">Add to playlist</h4>
                                                                          </div>
                                                                          <div class="modal-body">
                                                                            <div class="padder">
                                                                              <div id="playlist-list" class="m-b">

                                                                              </div>

                                                                              <div id="playlist-new">
                                                                                <h4 class="m-b-md">Create new</h4>
                                                                                <div class="form-group">
                                                                                  <label>Playlist title</label>
                                                                                  <input type="text" class="form-control input-sm text-md" id="playlist-new-title">
                                                                                </div>
                                                                                <button type="button" class="btn btn-sm btn-default m-b-md font-bold btn-danger" id="playlist-new-save">Save</button>
                                                                              </div>

                                                                              <div id="playlist-error" class="hide">
                                                                                <h4>Someting went wrong, try later</h4>
                                                                              </div>
                                                                            </div>
                                                                            <div class="hide" id="playlist-list-item">
                                                                              <div class="playlist-list-item padder-v b-b clearfix">
                                                                                <div class="pull-right m-t-xs">
                                                                                  <button class="btn btn-sm btn-default" id="playlist-add">Add to playlist</button>
                                                                                  <button class="btn btn-sm btn-danger" id="playlist-del" style="display:none">Added</button>
                                                                                  <button class="btn btn-sm btn-link" id="playlist-remove" title="Remove"><i class="fa fa-remove"></i></button>
                                                                                </div>
                                                                                <a href class="pull-left m-r" id="playlist-thumb"><img width="40"></a>
                                                                                <div class="clear">
                                                                                  <a href id="playlist-title" class="font-bold"></a>
                                                                                  <div id="playlist-count" class="text-muted"></div>
                                                                                </div>
                                                                              </div>
                                                                            </div>

                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-includes/js/comment-reply.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/js/navigation.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/js/skip-link-focus-fix.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/bootstrap.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/app.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/jPlayer/jquery.jplayer.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/jPlayer/add-on/jplayer.playlist.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/jquery.storageapi.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/youtube.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript'>
                                                                    /* <![CDATA[ */
                                                                    var ajax_object = {"ajaxurl":"http:\/\/flatfull.com\/wp\/musik\/wp-admin\/admin-ajax.php"};
                                                                    /* ]]> */
                                                                    </script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/player.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/playlist.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript'>
                                                                    /* <![CDATA[ */
                                                                    var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Download File":"Download File","Download Video":"Download Video","Play":"Play","Pause":"Pause","Captions\/Subtitles":"Captions\/Subtitles","None":"None","Time Slider":"Time Slider","Skip back %1 seconds":"Skip back %1 seconds","Video Player":"Video Player","Audio Player":"Audio Player","Volume Slider":"Volume Slider","Mute Toggle":"Mute Toggle","Unmute":"Unmute","Mute":"Mute","Use Up\/Down Arrow keys to increase or decrease volume.":"Use Up\/Down Arrow keys to increase or decrease volume.","Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.":"Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."}};
                                                                    var _wpmejsSettings = {"pluginPath":"\/wp\/musik\/wp-includes\/js\/mediaelement\/"};
                                                                    /* ]]> */
                                                                    </script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/masonry/tiles.min.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/tile.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/nprogress/nprogress.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/jquery.pjax.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/ajax.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-content/themes/musiks/assets/js/search.js?ver=4.6.1'></script>
                                                                    <script type='text/javascript' src='http://flatfull.com/wp/musik/wp-includes/js/wp-embed.min.js?ver=4.6.1'></script>
