<!-- Default panel contents -->
<div id="list-panel-heading-non-fixed">
  <b>FGSF 주크박스</b>
</div>
<div id="list-panel-heading">
  <b>FGSF 주크박스</b>
</div>

<div class="panel panel-default">
  <!-- List group -->
  <div class="list-group">
    <button type="button" class="list-group-item">
      <%= link_to '(Leave us a comment!)', comments_path, class: 'link-color' %>
    </button>

    <% @songs.each do |song| %>
    <button type="button" class="btn_add_song list-group-item text-align-center" \
      name="/juke/add_song?bypass=<%= URI.encode(params[:bypass].to_s) %>&song_name=<%= URI.encode(song.file) %>">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> <%= song.file %>
    </button>
    <% end %>
  </div>
</div>

<div id="info_screen" class="dark">
  <h3 class="sml_margin">
    Now Playing...<br>
    <p id="screen_title"><%= render partial: 'title' %></p>
  </h3>
</div>

<div id="info_screen_non_fixed" class="dark">
  <h3 class="sml_margin">
    Now Playing...<br>
    <p class="controller" id="screen_title"><%= render partial: 'title' %></p>
  </h3>
</div>

<script>
  setInterval(function() {$('#screen_title').load('/juke/title');}, 10000);
</script>
